

/* div#container-page {
    position: unset !important;
    right: unset !important;
}

#container-page > div.row{
    flex-direction: column-reverse !important;
} */

div#scrollTop {
    display: none !important;
}

ul.indicator-list {
    margin-top: 70px;
    margin-bottom: 100px;
}
