{#
/**
 * @file
 * DOPA Data Module to show a standard legend. 
 *
 * Module variables (in the the data.legend object):
 * - data.layers.name
 * - data.layers.id
 * - data.layers.description
 * - data.layers.legend.color
 * - data.layers.legend.label
 * - data.layers.legend.class 
 *
 */
#}

{% for layer in data.layers %}
	<div class="container-fluid p-0 map-layer-container layer-legends-{{ cardId }} d-none" id="layer-legend-{{ layer.id }}">
		<div class="row map-layer-title align-middle">
			<div class="col-6">
				{{ layer.name }}
			</div>
			<div class="col-6">
				<div class="slidecontainer">
					<input type="range" min="1" max="100" value="100" class="slider align-middle layerSlider-{{ layer.id }}" id="layerSlider-{{ layer.id }}">
				</div>
			</div>
		</div>
		<div class="row map-layer-description">
			<div class="col-12">
				{{ layer.description|raw }}
			</div>
		</div>
		<div class="row"> 
			<div class="col-12">
				<div class="wrapper-layer-legend"> 
					<div class="wrapper-layer-legend-colors">
					{% if layer.legend.type == 'choropleth' %}
						{% for item in layer.legend.classes %}
							<div class="{{ item.class }} icon-choropleth" style="background-color: {{ item.color }}!important; "></div>
						{% endfor %}
					{% else %}
							<div class="icon-gradient" style="background: linear-gradient(45deg, {% for item in layer.legend.classes %}{% if loop.index == layer.legend.classes|length %}{{ item.color|trim }} {% else %}{{ item.color|trim }}, {% endif %}{% endfor %})!important; "></div> 
					{% endif %}
					</div>
					<div class="wrapper-layer-legend-labels">
					{% for item in layer.legend.classes %}
						<div class="legendClassLabel">{{ item.label }}</div>
					{% endfor %} 
					</div>
				</div>
			</div>
		</div>
	</div>
{% endfor %}


